<div class="ticket-card row d-flex justify-content-center mb-3">
    <div class="card col-10 text-center">
      <div class="card-header">
       Assigned Services
      </div>
      <div class="card-body">
        <h5 class="card-title">About Service</h5>
        <p class="card-text">Service discription</p>
        <p class="card-text">status</p>
        <p class="card-text">Admin Comments</p>
      </div>
      <div class="card-footer text-muted">
        Time Ago
      </div>
    </div>
  </div>
  